* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    background-color: rgb(140, 189, 167);
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }
  
  header {
    z-index: 1;
    background-color: rgb(rgba(134, 30, 30, 0.664), green, blue);
    border-bottom: solid 5px;
    /* position: fixed; */
  }
  .header h1 {
    font-size: 50px;
  }

  .nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: x-large;
  }

  .hero-banner {
    background-image: url(../images/02-portfolio-4.jpg);
    background-position: center;
    background-size: cover;
    border-bottom: solid 5px;
    min-height: 50vh;
  }

  .project {
    min-height: 20vw;
  }

  .first {
    background-image: url(../images/screenshot.png);
    width: 100%;
    min-height: 40vw;
  }

  .second {

  }