:root {
  --image-width: 50vw;
}

.hero {
  background-image: url(/images/02-portfolio-4.jpg);
  background-size: cover;
  background-position: center;
}

.jumbotron-text {
  text-align: center;
}

.about, .grid {
  border-left: solid 5px;
}

.card-custom {
  transition: ease-in-out 0.3s;
  z-index: 1;
}

.card-custom:active, 
.card-custom:hover {
  transform: scale(1.2, 1.2);
  box-shadow: 0 0 20px;
  z-index: 2;
}