:root {
  --image-width: 50vw;
}

.hero {
  background-image: url(/images/02-portfolio-4.jpg);
  background-size: cover;
  background-position: center;
}

.jumbotron-text {
  text-align: center;
}

.about {
  border-left: solid 5px;
}
