:root {
  --work-columns: 25vw;
  --work-rows: 15vw;
  --secondary-color: rgb(172, 10, 10);
  --work-rows-mobile: 40vw;
  --shadow-color: rgb(229, 255, 0);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: rgb(0, 0, 114);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* HEADER */
.header {
  background-color: var(--secondary-color);
  height: 100px;
  width: 100%;
  border-bottom: 5px solid;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
}

.header h1 {
  padding: 1%;
  font-size: 400%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav {
  padding: 10px;
  display: flex;
  width: 50vw;
  align-items: flex-end;
  justify-content: space-evenly;
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav a {
  color: black;
  text-decoration: none;
}
/* BANNER */
.hero-banner {
  height: 40vw;
  background-image: url("../images/02-portfolio-4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom: 5px solid;
}

.hero-banner h2 {
  color: rgba(0, 0, 0, 0.65);
  font-size: 300%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-right: 10vw;
}

/* MAIN */
.page-wrapper {
  display: grid;
  grid-template-columns: 10% 60%;
  grid-template-areas: 
  "about ab"
  "work wo";
  justify-content: center;
  padding: 2%;
}

#ab {
  border-left: 5px solid black;
  margin-bottom: 10px;
  padding-left: 10px;
  color: var(--shadow-color);
}

#wo {
  border-left: 5px solid;
  margin-bottom: 10px;
  padding-left: 10px;
  display: grid;
  grid-template-columns: var(--work-columns) var(--work-columns);
  grid-template-rows: 30vw var(--work-rows) var(--work-rows);
  grid-template-areas: 
  "first first";
  justify-items: center;
}

#first {
  grid-area: first;
  background-image: url("../images/screenshot.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border: solid 3px skyblue;
  transition: transform .3s;
  margin-bottom: 10px;
}

#second {
  background-image: url("../images/portfolio.png");
}

#third {
  background-image: url("../images/prework.png");
}

#fourth {
  background-image: url("../images/bio.png");
}

#fifth {
  background-image: url("../images/02-portfolio-4.jpg");
}

#second, #third, #fourth, #fifth {
  width: 95%;
  height: 95%;
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 3px skyblue;
  border-radius: 5px;
  margin: 10px;
  transition: transform .3s ease-out;
}

.project:hover {
  transform: scale(1.2, 1.2);
  cursor: grab;
  opacity: 0.8;
  box-shadow: inset 0px 0px 10px var(--shadow-color),  10px 10px 15px var(--shadow-color);
}

.project a {
  background: rgba(0, 0, 0, 0.9);
  color: white;
  text-decoration: none;
  display: flex;
  height: 20%;
  width: 40%;
  position: relative;
  top: 70%;
  align-items: center;
  justify-content: right;
  padding-right: 5%;
  border-bottom: 6px solid skyblue ;
}

#first a {
  font-size: 1rem;
  padding: auto;
}

/* CONTACT */
.footer {
  background-color: var(--secondary-color);
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-areas: 
  "contact co";
  border-top: solid 5px black; 
  height: 70px;
  align-items: center;
}

.footer a {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  color: black;
}

#contact {
  grid-area: contact;
  text-align: center;
  padding-top: 15px;
}

#co {
  grid-area: co;
  display: flex;
  justify-content: space-around;
}

#co img {
  padding-top: 10px;
  padding-right: 15px;
}

@media only screen and (max-width: 992px) {
  .header {
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
  }

  .header h1 {
    font-size: 700%;
    padding: 0;
  }

  .nav {
    height: 50px;
    font-size: 35px;
  }

  .page-wrapper {
    grid-template-columns: 10% 80%;
  }

  #wo {
    grid-template-columns: 50% 50%;
    grid-template-rows: 30vw var(--work-rows) var(--work-rows);
  }


}

@media only screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
    justify-content: space-evenly;
    align-items: center;
  }

  .header h1 {
    font-size: 400%;
    padding: 0;
  }

  .nav {
    height: 50px;
    font-size: 25px;
  }

  .hero-banner {
    align-items: flex-start;
  }

  .hero-banner h2 {
    font-size: 180%;
  }

  .page-wrapper {
    grid-template-columns: 15% 70%;
  }

  #wo {
    grid-template-columns: 100%;
    grid-template-rows: var(--work-rows-mobile) var(--work-rows-mobile) var(--work-rows-mobile) var(--work-rows-mobile) var(--work-rows-mobile);
    grid-template-areas: 
    "first"
    "second";
  }

  #first a {
    height: 10vw;

  }

  .footer {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  #co a {
    padding-left: 10px;
  }
}

@media only screen and (max-width: 425px) {
  .header h1 {
    font-size: 300%;
  }
}